@model Flights.Web.Data.Entities.Airplane

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EconomicSeats" class="control-label"></label>
                <input asp-for="EconomicSeats" class="form-control" />
                <span asp-validation-for="EconomicSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExecutiveSeats" class="control-label"></label>
                <input asp-for="ExecutiveSeats" class="form-control" />
                <span asp-validation-for="ExecutiveSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

