@model Flights.Web.Data.Entities.Ticket


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @*<div class="form-group">
                <label asp-for="DepartureAirportId" class="control-label"></label>
                <select asp-for="DepartureAirportId" class="form-control" asp-items="Flights"></select>
                <span asp-validation-for="DepartureAirportId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="PassangerName" class="control-label"></label>
                <input asp-for="PassangerName" class="form-control" />
                <span asp-validation-for="PassangerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatNumber" class="control-label"></label>
                <input asp-for="SeatNumber" class="form-control" />
                <span asp-validation-for="SeatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TravelClass" class="control-label"></label>
                <input asp-for="TravelClass" class="form-control" />
                <span asp-validation-for="TravelClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Lugagge" /> @Html.DisplayNameFor(model => model.Lugagge)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
