@if (ViewBag.ErrorTitle == null)
{
    <h3>
        An error occured while processing your request.
        The support team was notified and we are working on the fix.
    </h3>
    <h5>
        Please contact us at highflyairline@gmail.com.
    </h5>
}

else
{
    <h1>@ViewBag.ErrorTitle</h1>
    <h6>@ViewBag.ErrorMessage</h6>
}